.form {
	margin: auto;
	padding: 2rem;

	height: 55rem;
	flex-grow: 1;

	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
}

.image {
	height: 55rem;
	flex-grow: 1;

	vertical-align: middle;
	display: flex;
	flex-direction: column;
	justify-content: center;

	background: url('/images/jump.jpg');
	background-size: cover;

	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px;
}

.quote {
	font-weight: 800;
	text-align: center;
	line-height: 2rem;
}

@screen lg {
	.quote {
		font-size: 1.5rem;

		margin-left: 3rem;
		margin-right: 3rem;

		padding-left: 2rem;
		padding-right: 2rem;
	}
}
