.gallery {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}

@screen md {
	.gallery {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

@screen lg {
	.gallery {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
