@media (max-width: 550px) {
	.big-container {
		display: none;
	}
}
@media (min-width: 550px) {
	.small-container {
		display: none;
	}
}
/* Responsive iFrame */
.responsive-iframe-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	/* margin: 0 5rem; */
	/* padding-left: 2rem;
	padding-right: 2rem; */
	height: 0;
	overflow: hidden;
}
.responsive-iframe-container iframe,
.vresponsive-iframe-container object,
.vresponsive-iframe-container embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.calendar {
	border: 0;
	margin: 10rem auto 5rem;
	/* padding: 0 5rem; */
}

/* @screen md {
	.calendar {
		height: 40rem;
	}
} */
