.largeCard {
	/* height: 25rem; */
	width: 20rem;
}

/* .imageContainer {
	height: 9rem;
	width: 100%;
} */

@screen lg {
	.largeCard {
		height: 30rem;
		width: 24rem;
	}

	/* .imageContainer {
		height: 18rem;
	} */
}
