@tailwind base;

html {
	background-color: white;
}

body {
	@apply p-safe;
	@apply min-h-screen;
	@apply antialiased;
	@apply text-x-gray-900;

	/* PWA enhancements */
	-webkit-overflow-scrolling: touch;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
}

.medium-zoom-overlay {
	z-index: 99 !important;
}

.medium-zoom-image--opened {
	object-position: center;
	object-fit: cover;
	z-index: 999 !important;
}
