@tailwind utilities;

.pattern {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='250' height='30' viewBox='0 0 1000 120'%3E%3Cg fill='none' stroke='%23191919' stroke-width='10' %3E%3Cpath d='M-500 75c0 0 125-30 250-30S0 75 0 75s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 45c0 0 125-30 250-30S0 45 0 45s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 105c0 0 125-30 250-30S0 105 0 105s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 15c0 0 125-30 250-30S0 15 0 15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500-15c0 0 125-30 250-30S0-15 0-15s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3Cpath d='M-500 135c0 0 125-30 250-30S0 135 0 135s125 30 250 30s250-30 250-30s125-30 250-30s250 30 250 30s125 30 250 30s250-30 250-30'/%3E%3C/g%3E%3C/svg%3E");
}

.polka {
	background-image: radial-gradient(rgb(210, 210, 210) 20%, transparent 20%),
		radial-gradient(rgb(210, 210, 210) 20%, transparent 20%);
  	background-position: 0 0, 7px 7px;
  	background-size: 14px 14px;
}

.flag-gradient {
	display: inline-block;
	@apply text-transparent;
	@apply bg-clip-text;
	@apply bg-gradient-to-br;
	@apply from-yellow-300;
	@apply via-blue-300;
	@apply to-red-500;
}

.orange-gradient {
	display: inline-block;
	@apply text-transparent;
	@apply bg-clip-text;
	@apply bg-gradient-to-r;
	@apply from-orange-d;
	@apply to-orange-l;
}