.hamburguer {
	z-index: 20;
	cursor: pointer;
	transition: color 0.2s ease-in-out;
	width: 32px;
	height: 32px;
	pointer-events: auto;
	@apply mr-4;
}

@screen lg {
	.hamburguer {
		@apply mr-0;
	}
}

.hamburguer:focus {
	outline: none;
}

.hamburguer :global svg {
    min-height: 24px;
    transition: transform 0.2s ease-in-out;
}

.hamburguer :global line {
	stroke: black;
	stroke-width: 3;
	transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.hamburguer:global(.open) :global(svg) {
	transform: scale(0.8)
}

.hamburguer:global(.open) :global(#top) {
	transform: translate(6px, 0px) rotate(45deg)
}

.hamburguer:global(.open) :global(#middle) {
	opacity: 0;
	transform: translateX(100%);
}

.hamburguer:global(.open) :global(#bottom) {
	transform: translate(-12px, 9px) rotate(-45deg)
}
