.header {
	position: fixed;
	z-index: 30;
	width: 100%;
	height: 96px;
	-webkit-backdrop-filter: saturate(200%) blur(8px);
	backdrop-filter: saturate(200%) blur(10px);
}

.header:global(.transparent) {
	-webkit-backdrop-filter: none;
	backdrop-filter: none;
}

.headerWrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1.5rem;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
}

:global(.transparent) .headerWrapper {
	background-color: transparent;
}

@screen lg {
	.headerWrapper {
		padding: 0 3rem;
	}
}

.elements {
	display: flex;
	align-items: center;
	@apply -mx-4;
	@apply px-2;
	@apply pointer-events-auto;
	@apply text-base;
	@apply font-title;
	@apply text-x-gray-800;
}
